.home {
    &__title {
        font-family: $primary-header-font;
        font-weight: bold;
        margin-top: 1.5em;
    }

    &__subtitle {
        font-family: $primary-header-font;
        margin: 1.2em 0;
    }
    &__links {
        text-decoration: none;
    }
}

h1 {
    margin: 1em 0;
    font-size: $header-fontsize;
}
