nav {
    background: $main-color;
}

.Nav__link {
    text-decoration: none;
    padding-top: 1em;
    margin-left: 1em;
    color: #f5f5f5;
}
.Nav__link:hover{
    color:#39393A
}

.Navbar__avatar {
    max-width: 100%;
    width: 60px;
    height: 50px;
    border-radius: 50%;
    
}

.nav {
    &__links {
        text-align: center;
        padding-top: 2em;
        
    }

    &-item {
        padding: 1.5em 0;
    }
}

.Nav__link--signin,
.Nav__link--signedin {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 1.5rem;
    color: #f5f5f5;

    &__icon {
        transform: scale(1.4);
    }
}

.Nav__link--signin:hover {
    color: #39393A;
    transform: scale(1.1);
}
