@include media-md {
    .account__details.user-display {
        width: 50%;
    }

    .nav-container {
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
    }
    .article__body p {
        font-size: 1rem;
    }
}
@include media-lg {
    .account__details.user-display {
        width: 500px;
    }
    .navbar__content {
        display: flex;
        justify-content: flex-end;
    }

    .nav {
        &__links {
            text-align: center;
            padding-top: 0;
        }

        &-item {
            padding: 0.5em;
        }
        &__container {
            max-width: 1220px;
            width: 90%;
            margin: 0 auto;
        }
    }
    .Nav__link--signin,
    .Nav__link--signedin {
        align-items: center;
        gap: 0.5em;
        font-size: 1.3rem;
        padding-top: 0.1em;
        p {
            margin-bottom: 0;
        }
        &__icon {
            transform: scale(1.4);
        }
    }

    .article__single {
        width: 90%;
    }

    .article__body p {
        font-size: 1.2rem;
    }
    .css-46bh2p-MuiCardContent-root.article__body {
        padding: 1em 4em;
    }
}
@include media-xl {
    .account__details.user-display {
        width: 550px;
    }
}
