@import "./css/navbar";
@import "./css/variables";
@import "./css/account";
@import "./css/home";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Loading-icon {
    width: 1%;
    margin: 20% 50%;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}

@import "./css/responsive";
